@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #ffffff;
  --foreground: #393939;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-body: var(--font-montserrat);
  --font-display-title: var(--font-abril-fatface);
  --font-display: var(--font-lora);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-justify {
  text-align: justify;
}
